*{
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    background: cadetblue;
}
.bx-chevrons-left

h1{
    font-size: 60px;
}
.datosPersonales h2{
    font-size: 30px;
    margin-top: 80px;
    
}
.datosPersonales input{
    font-size: 30px;
    border: none;
    outline: none;
    background: transparent;
    color: #000;
    padding: 20px 40px 20px 150px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 50px;
}
.datosPersonales input:hover{
    cursor: pointer;
    color: azure;
    
}