*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container{
    width: 100%;
    height: 100%;
    background: #221f57;
    color: #fff;
    box-shadow: 0 0 20px blue, 0 0 10px greenyellow;
    mix-blend-mode: hard-light;
    
}

.container .sidenav{
    width: 115px;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    padding: 30px 16px;
    background-color: #000;
    transition: width 0.6s;
    
}

label .close-btn{
    display: none;
}

.container .logo h2{
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease;
}

.sidenav .search{
    margin-top: 32px;
    position: relative;
}

.sidenav .search i{
    position: absolute;
    color: #000;
    font-size: 24px;
    left: 38px;
    top: 50%;
    transform: translate(-50%, -50%);
}

.sidenav .search input{
    width: 50%;
    padding: 11px;
    padding-left: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-left: 15px;
}
.sidenav .menu_text{
    margin-top: 24px;
}
.sidenav .menu_text p{
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    padding-left: 10px;
}
.sidenav .icon_items ul{
    list-style: none;
    margin-top: 32px;
    padding: 0 10px;
}
.sidenav .icon_items ul li{
    cursor: pointer;
    margin: 4px;
    padding: 12px 0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    transition: 0.5s ease;
}
.icon_items .active,
.sidenav .icon_items ul li:hover{
    background: cadetblue;
}
.sidenav .icon_items ul li i{
    font-size: 26px;
    padding: 0 12px;
}
.sidenav .icon_items ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    padding-left: 18px;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease;
}
#click{
    display: none;
}

.container label{
    position: fixed;
    left: 3%;
    top: 1.5%;
    font-size: 24px;
    z-index: 1;
    cursor: pointer;
}
#click:checked ~ .sidenav{
    width: 260px;
}

#click:checked ~ .sidenav .icon_items ul li a{
    opacity: 1;
    pointer-events: auto;
}

#click:checked ~ .sidenav .logo h2{
    opacity: 1;
    pointer-events: auto;
}

#click:checked ~ .sidenav .search input{
    width: 100%;
    margin-left: 0;
}

#click:checked ~ .sidenav .search i{
    left: 20px;
}

#click:checked ~ label{
    left: 1%;
}

#click:checked ~ label .close-btn{
    display: block;
}

#click:checked ~ label .menu-btn{
    display: none;
}
#click:checked ~ .main-content{
    left: 10%;
    transition: 2s ease;
}
.main-content{
    position: relative;
    margin-left: 120px;
    padding-left: 50px;
    padding-right: 40px;
    padding-bottom: 40px;
    color: #000;
    background:linear-gradient(to bottom right, #201d60, #2bfff4 ,#000);
    transition: 3s ease ease-in-out;
    box-shadow: 0 0 20px blue, 0 0 10px greenyellow;
    mix-blend-mode: hard-light;
}
.contenedor-slider{
    margin-top: 50px;
    border: 4px solid #000;
    transition: 0.3s ease;
    background-color: rgba(0, 0,0,0.9);
    box-shadow: 0 0 20px blue, 0 0 10px greenyellow;

    
}

h2{
    font-size: 100px;
    border-bottom: solid #000;

}
h3{
    font-size: 40px;
    margin-top: 150px;
}

.slider-izquierdo{
    width: 90%;
    margin: 40px auto 40px;
    display: grid;
    grid-template-columns: repeat(4,minmax(20px,1fr));
    grid-gap: 30px;
    grid-auto-rows: 650px;
    
}
.slider-izquierdo img{
    width: 100%;
    cursor: pointer;
    border-style: none;
    overflow-clip-margin: content-box;
    overflow: clip;
    height: 200px;
    object-fit: cover;
    box-shadow: 0 0 20px blue, 0 0 10px greenyellow;
    
}

.slider-izquierdo img:hover{
    transform: scale(1.2);
}
.full-img span{
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}
.full-img img{
    width: 90%;
    max-width: 600px;
}
.full-img{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0,0,0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 90;
    
}


















